.home {
    flex: 4;
}

.my-btn {
    background   : linear-gradient(to right, #7460fc, #d34fff);
    color        : white;
    border-radius: 0.5rem;
    border       : none;
    padding      : 15px 30px;

}

.my-btn {
    white-space    : nowrap;
    font-family    : "Questrial Bold", sans-serif;
    font-weight    : 600;
    font-size      : 1rem;
    border         : none;
    display        : flex;
    justify-content: center;
    cursor         : pointer;
    transition     : 0.3s ease;
}

.my-btn:hover {
    transform: scale(0.9);
}

.spanBack {
    width          : 80px;
    height         : 25px;
    border-radius  : 10%;
    margin-bottom  : 20px;
    margin-top     : 20px;
    text-align     : center;
    justify-content: center;
    display        : flex;
    align-items    : center;
}

.Approved {
    background-color: #e5faf2;
    color           : #3bb077;
}

.Declined {
    background-color: #fff0f1;
    color           : #d95087;
}

.btn-outline-danger {
    border-color: #d95087 !important;
    color       : #d95087 !important;

}

.btn-outline-primary {
    border-color: #2a7ade !important;
    color       : #2a7ade !important;
}

.btn-outline-primary:hover {
    color: white !important;
}

.btn-outline-danger:hover {
    color: white !important;
}