/* .my-container {
  display: flex;
  margin-top: 10px;
} */

.my-btn {
  background: linear-gradient(to right, #7460fc, #d34fff);
  color: white;
  border-radius: 0.5rem;
}
.form-label {
  font-size: 14px;
  color: rgb(148, 148, 148);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  margin: 0;
  margin-top: 15px;
}
.error {
  font-size: 12px;
  color: rgba(250, 74, 74, 0.548);
}
.link {
  text-decoration: none;
  color: inherit;
}

.home {
  flex: 4;
}

.medio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.contenedor {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.titulo {
  padding-left: 20px;
}
i{
  margin-right: 10px;
}
.my-card {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 85vh;
  z-index: 100;
}

.my-card-form {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  min-height: 50vh;
  width: 50vw;
  z-index: 100;
  padding: 50px;
}

.my-card-cursos {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  min-height: 15vh;
  width: 15vw;
  z-index: 100;
  display: flex; 
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #b4b4b417; 
  flex-direction: column;
}

.btnAgregar {
  border-radius: 50px !important;
  padding-left: 24px !important;
  padding-right: 26px !important;
  width: 100px !important;
  margin-top: 20px;
}

.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #922c88;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 10px;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.productButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
}
